        <!DOCTYPE html>
        <html>
        <head>
            <title>Админ-панель</title>
            <style>
                body { font-family: Arial; padding: 20px; }
                a { display: block; padding: 10px; margin: 5px; background: #02818a; color: white; text-decoration: none; border-radius: 5px; }
                a:hover { background: #026b6b; }
            </style>
        </head>
        <body>
            <h1>Админка</h1>
            <a href="/addc4r">Добавить машину</a>
            <a href="/rmc4r"> Удалить машину</a>
            <a href="/"> На главную</a>
            <a href="/list">К списку машин</a>

        </body>
        </html>